@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap';

* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: rgb(196, 221, 250);
    font-family: 'Source Sans Pro', sans-serif;
}

.main{
    padding-top: 105px;
}

    /*=== HEADER ===*/
.header {
    width: 100%;
    color: white;
    padding-bottom: 8px;
    background: #041024;
    text-align: center;
    z-index: 998;

}
#HOME {
    font-family: 'Orbitron';
    font-size: 60px;
}
.home img { 
    border-radius: 5px;
    height: 46px;
}
#imgPadding {
    padding-left: 8px;
    padding-top: 16px;
}
.home {
    display: flex;
    justify-content: center;
    margin-left:50%;
    margin-right: 50%;
    cursor: pointer;
}
header .icons {
    border-radius: 300px;
    background-color: white;
    height: 46px;
}
.iconsPadding {
    padding: 14px;
    padding-top: 25px;
}
header .HeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


 /*== inicio Footer==*/ 
 footer{
    background-color: #041024;
    font-size: 15px;
    height: 250px;
    bottom: 0;
    z-index: 9999;
    position: relative;
} 
.info1 img{
   width: 25px;

}
footer .info1{
    display: flex;
    color: white;
    margin-left: 35px;
}
footer .info1 ul{
    width:25%;
    margin-top: 20px;
}
footer div{
  margin-top: 20px;
}

footer  h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}
a{
    text-decoration: none;
}

footer .redes-sociais img{
    margin-left: 10px;
}
footer ul{
    margin-bottom: 8px;
    margin-left: 10px;
}
footer .info1 ul > p{
  margin-bottom: 40px;
  margin-left: 10px;
  margin-top: 20px;
  
}
footer .info1 li{
    margin: 10px 0;
    margin-top: 20px;
}
footer .info1 a{
    color: white;
}
footer .info1 ul{
  width: 100%;
  margin-bottom: 30px;
}
footer li{
    list-style-type: none;
}
/*== FINAL FOOTER ==*/
/*== BOTÃO IMAGEM ==*/
#picture__input {
    display: none;
  }
  
  .picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }
  /*== FIM BOTÃO IMAGEM ==*/