@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap';

* {
    margin:0;
    padding:0;
    border:0;
}
body {
    background: white;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    padding-bottom: 8px;
    background: #041024;
    text-align: center;
}
#HOME {
    font-family: 'Orbitron';
    font-size: 60px;
}
.home img { 
    border-radius: 5px;
    height: 46px;
}
#imgPadding {
    padding-left: 8px;
    padding-top: 16px;
}
.home {
    display: flex;
    justify-content: center;
}
header .icons {
    border-radius: 300px;
    background-color: white;
    height: 46px;
}
.iconsPadding {
    padding: 16px;
}
header .HeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}