

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    height:300px;
    width: 300px;
    border-radius: 3px;
    transition: .5s;
}
.card{
    height: 300px;
    width:300px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.intro{
    height:70px;
    width: 270px;
    padding: 6px;
    bottom: 352px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, .5);
    color: white;
    border-radius: 6px;
    transition: .5s;
}
h1{
    margin: 10px;
    font-size: 40px;

}
p{
    font-size: 20px;
    margin:20px;
    visibility: visible;
    opacity: 0;
    color: aliceblue;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 200px;
    background: black;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
    color:white
}
.card:hover img{

transform: scale(1.1) rotate(-3deg);
}








.modal2{
    text-align: center;
    width: 700px;
    height: 350px;
    margin-top: 2px;
    padding-top: 2px;

}
.modal2 img{
    width: 800px;
    height:350px;
    margin-left:15px;
    margin: top 0;
    margin-bottom: 0;
    border-radius: 35px;

}