<!DOCTYPE html>
<html lang="en">

<head>
    <title>Postagem</title>
    <link rel="stylesheet" href="style-perfil.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <script defer src="scriptsPost.js"></script>
    <script async src="scriptsPost.js"></script>


    <div class="header">
        <div class="HeaderRow">
            <div class="home" onclick="homeFunction()">
                <h1 id="HOME">AAGIS</h1>
                <div id="imgPadding">
                    <img src="imagens/unb_logo.png" alt="Logo UnB">
                </div>
            </div>
        </div>

        <a id="slogan">Atualizações Acadêmicas Gerais, Indispensáveis e Sucintas</a>

    </div>
    <!-- area postagem-->
    <div class="container">
        <div class="Title-box">
            <h1>Atualizar Perfil</h1>
        </div>
        <div class="fakeModal">
            <div class="fakeModal-conteudo">
                <form action="/attperfil/{{usuario.id}}" method="POST" enctype="multipart/form-data">
                    <div class="fakeModal1">
                        <!-- botão imagem -->
                        <div class="btnImg">
                            <label class="picture" for="picture__input" tabIndex="0">
                                <span class="picture__image">
                                    <img src={{usuario.foto_perfil}} class="picture__img">
                                </span>
                            </label>
                            <input type="file" name="picture__input" id="picture__input">
                        </div>
                        <!-- FIM botão imagem -->
                    </div>
                    <div class="input-texto">
                        <textarea name="nomeUsuario" placeholder="{{usuario.nome}}" class="title"></textarea><br>
                        <textarea name="email" placeholder="{{usuario.email}}" class="title"></textarea><br>
                        <button type="submit">Atualizar</button>
                    </div>

            </div>
        </div>


        <!-- botão imagem -->
        <!--<div class="btnImg">
            <label class="picture" for="picture__input" tabIndex="0">
                <span class="picture__image"></span>
            </label>
            <input type="file" name="picture__input" id="picture__input">
        </div>-->
        <!-- FIM botão imagem -->
    </div>

    <!-- FIM area postagem-->
    <footer>
        <div class="info1">
            <ul>
                <h3>AAGIS</h3>
                Fique atento aos eventos acadêmicos com o nosso site!
                <div class="redes-sociais">
                    <img src="imagens/icon.instagram.png" alt="">
                    <img src="imagens/icon.telegram.png" alt="">
                    <img src="imagens/icon.twitter.png" alt="">
                </div>
            </ul>
            <ul>
                <h3>Links</h3>
                <li><a href="https://sigaa.unb.br" target="_blank">Sigaa</a></li>
                <li><a href="https://aprender3.unb.br" target="_blank">Aprender</a></li>
                <li><a href="https://www.noticias.unb.br" target="_blank">Unb Noticias</a></li>
            </ul>
            <ul>
                <h3>Suporte</h3>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Como ser um colaborador</a></li>
                <li><a href="#">Contatos</a></li>
            </ul>
            <ul>
                <h3> Fale conosco </h3>
                <li>
                    <p> +55 61 9 8638-7990</p>
                </li>
                <li>
                    <p> aagisnoticias2024@gmail.com</p>
                </li>
                <li>
                    <p> Universidade de Brasília - UnB </p>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>