<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style-calendario.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
    name="description"
    content="Stay organized with our user-friendly Calendar featuring events, reminders, and a customizable interface. Built with HTML, CSS, and JavaScript. Start scheduling today!"
  />
  <meta
    name="keywords"
    content="calendar, events, reminders, javascript, html, css, open source coding"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  /> 

    <title>Calendar with Events</title>
    <link rel="stylesheet" href="/{{style}}">
  </head>
  <body>
  <div class="header">
      <div class="HeaderRow">
          <div class="home" onclick="homeFunction()">
              <h1 id="HOME">AAGIS</h1>
              <div id="imgPadding">
                  <img src="imagens/unb_logo.png" alt="Logo UnB">
              </div>
          </div>
      </div>

      <a id="slogan">Atualizações Acadêmicas Gerais, Indispensáveis e Sucintas</a>
  </div>

  <div class="tudor"></div>
  <div class="container">
    <div class="left">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">december 2015</div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Dom</div>
          <div>Seg</div>
          <div>Ter</div>
          <div>Qua</div>
          <div>Qui</div>
          <div>Sex</div>
          <div>Sab</div>
        </div>
        <div class="days"></div>
        <div class="goto-today">
          <div class="goto">
            <input type="text" placeholder="mm/yyyy" class="date-input" />
            <button class="goto-btn">Buscar</button>
          </div>
          <button class="today-btn">Hoje</button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="today-date">
        <div class="event-day">wed</div>
        <div class="event-date">12th december 2022</div>
      </div>
      <div class="events"></div>
        </div>
      </div>
    </div>
  </div>

    <!-- Passar dados do banco de dados pro script -->
<script>
  eventsArr = {{{eventos}}};
</script>
<script src="scriptcalendario1.js"></script>
  