<form action="/add" method="POST">
    <p>Título:</p>
    <input type="text" name="titulopost">
    <p>Conteúdo: </p>
    <textarea name="conteudopost" id="" cols="30" rows="10"></textarea>
    <p>Imagem: </p>
    <input type="file" name="ref_imagem">
    <p>Curso: </p>
    <select name="curso">
        <option value="EngSoftware">Engenharia de Software</option>
        <option value="EngAeroespacial">Engenharia Aeroespacial</option>
        <option value="EngAutomotiva">Engenharia Automotiva</option>
        <option value="EngEletronica">Engenharia Eletrônica</option>
        <option value="EngEnergia">Engenharia de Energia</option>
        <option value="Engenharias">Engenharias</option>
    </select>
    <p>Id da sua conta: </p>
    <input type="number" name="idconta">
    <p></p>
    <button type="submit">Postar</button>
</form>