@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap';

* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: rgb(196, 221, 250);
    font-family: 'Source Sans Pro', sans-serif;
}

.main{
    padding-top: 105px;
}

    /*== FILTRO ==*/
    .filtro {
        display: none;
    }
    .activeFiltro {
        display: block;
    }
    #botaoAplicarFiltros {
        color: white;
        background-color: #072c6b;
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;
        font-size: 14px;
    }
    /*== FIM FILTRO ==*/

    /*=== SIDEBAR ===*/
   
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 1375px;
        width: 80px;
        background-color: #041024;
        padding: 0.4rem 0.8rem;
        transition: all 0.5s ease;
        z-index:999;
    }

    .sidebar.active {
        width: 250px;
    }

    .sidebar #btn {
        position: absolute;
        color: #FFF;
        top: .4rem;
        left: 50%;
        font-size: 1.2rem;
        line-height: 50px;
        transform: translateX(-50%);
        cursor: pointer;
    }

    .sidebar.active #btn {
        left: 90%;
    }

    .sidebar .top .logo {
        color: #FFF;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        pointer-events: none;
        opacity: 0;
    }

    .sidebar.active .top .logo {
        opacity: 1;
    }

    .top .logo i {
        font-size: 2rem;
        margin-right: 5px;
        font-family: 'Orbitron';
    }

    .user {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    .user p {
        color: #FFF;
        opacity: 1;
        margin-left: 1rem;
    }

    .bold {
        font-weight: 600;
    }

    .sidebar p {
        opacity: 0;
    }

    .sidebar.active p {
        opacity: 1;
    }

    .sidebar ul li {
        position: relative;
        list-style-type: none;
        height: 50px;
        width: 90%;
        margin: 0.8rem auto;
        line-height: 50px;
    }

    .sidebar ul li a {
        color: #FFF;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 0.8rem;
        
    }

    .sidebar ul li a:hover {
        background-color: #FFF;
        color: #041024;
        cursor: pointer;
    }

    .sidebar ul li a i {
        min-width: 50px;
        text-align: center;
        height: 50px;
        border-radius: 12px;
        line-height: 50px;
    }

    .sidebar .nav-item {
        opacity: 0;
    }

    .sidebar.active .nav-item {
        opacity: 1;
    }

    .sidebar ul li .tooltip {
        position: absolute;
        left: 125px;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
        border-radius: .6rem;
        padding: .4rem 1.2rem;
        line-height: 1.8rem;
        z-index: 20;
        opacity: 0;
    }

    .sidebar ul li:hover .tooltip {
        opacity: 1;
    }

    .sidebar.active ul li:hover .tooltip {
        display: none;
    }

    .filtro {
        padding-left: 30px;
        margin-top: 20px;
    }
    .filtro1 {
        display: block;
        position: relative;
        padding-left: 28px;
        margin-bottom: 20px;
        cursor: pointer;
        color:#FFF;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }     
      .filtro1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 3px;
        left: 0px;
        height: 15px;
        width: 15px;
        background-color: #eee;
      }
      .filtro1:hover input ~ .checkmark {
        background-color: #ccc;
      }
      .filtro1 input:checked ~ .checkmark {
        background-color:#041024;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .filtro1 input:checked ~ .checkmark:after {
        display: block;
      }
      .filtro1 .checkmark:after {
        left: 4px;
        top: 0px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    /*=== FIM SIDEBAR ===*/

    /*=== HEADER ===*/
.header {
    position: fixed;
    width: 100%;
    color: white;
    padding-bottom: 8px;
    background: #041024;
    text-align: center;
    z-index: 998;
    margin-left: 40px;


}
#HOME {
    font-family: 'Orbitron';
    font-size: 60px;
}
.home img { 
    border-radius: 5px;
    height: 46px;
}
#imgPadding {
    padding-left: 8px;
    padding-top: 16px;
}
.home {
    display: flex;
    justify-content: center;
    margin-left:50%;
    margin-right: 50%;
    cursor: pointer;
}
header .icons {
    border-radius: 300px;
    background-color: white;
    height: 46px;
}
.iconsPadding {
    padding: 14px;
    padding-top: 25px;
}
header .HeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    /*=== FIM HEADER ===*/






    /*=== SLIDES ===*/
.SliderDefiner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    /*margin-left: 40px;*/
}
.slider {
    margin-left: 80px;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 25px;
}

.slides {
    width: 400%;
    height:100%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slideTxt{
    background-color: #04102498;
    width: 100%;
    height: 100%;
    color: #FFF;
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    
}
.slideTxt h3{
    font-size: 50px;
    max-width: 350px;
}
.slideTxt a{
    font-size: 25px;
}
.slide img {
width: 100%;
height: 450px;




}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}
    /*=== FIM SLIDES ===*/

 /*== inicio cards ==*/

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 10px;

        margin-left: 80px;
    }
    
    .card-img{
        height:350px;
        width: 350px;
        max-width: 100%;
        border-radius: 8px;
        transition: .5s;
        object-fit: cover;
        position: relative;
    }
    .card img{
        object-fit: cover;
        width: 100%;
        border-radius: 8px;
       

    }
    
    .card{
        width: calc(33% - 40px);
        height: 270px;
        max-width: 300px;
        min-width: 250px;
        margin: 15px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        min-width: 300px, 100vw;
        border-radius: 8px;
        position: relative;

       
    }
    .intro{
        width: 100%;
        text-align: center;
        height:50px;
        max-width: 300px;
        min-width: 250px;
        padding: 6px;
        border: 1px;
        bottom: 0px;
        position: absolute;
        background: rgb(27, 27, 27, .5);
        color: white;
        border-radius: 8px;
        transition: .5s;
        margin-bottom: 0px;
    } 
    .intro2{
        width: 100%;
        text-align: center;
        height: 50px;
        max-width: 300px;
        min-width: 250px;
        padding: 6px;
        border: 1px;
        bottom: 0px;
        position: absolute;
        background: rgb(27, 27, 27, .5);
        color: white;
        border-radius: 8px;
        transition: .5s;
        margin-bottom: 0px;
    }
    
     .intro h2 {
        margin: 10px;
        font-size: min(25px, 3vw);
    
    }
    .intro p{
        font-size: min(17px, 3vw);
        margin:20px;
        visibility: visible;
        opacity: 0;
        color: aliceblue;
    }
    .intro2 h2 {
        margin: 10px;
        font-size: min(25px, 3vw);
    
    }
    .intro2 p{
        font-size: min(17px, 3vw);
        margin:20px;
        visibility: visible;
        opacity: 0;
        color: aliceblue;
    }
    .card:hover{
        cursor: pointer;
    }
    .card:hover .intro{
        height: 90px;
        background: black;
    }
    .card:hover .intro2{
        height: 90px;
        background: black;
    }
    .card:hover p{
        opacity: 1;
        visibility: visible;
        color:white
    }
    
    /*== FIM cards ==*/
     
    /*== Inicio Modal ==*/
    .modal-aberto:hover p{
        color:#041024;
        cursor:default;
    }
    .modal-conteudo:hover {
        cursor: default;
    }
    .overlay:hover {
        cursor: default;
    }
    
    .modal {
        display: none; 
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        height: 610px;
        z-index: 9999;
        overflow-y: auto;
       
    }
     .modal p{
        color: white;
     }
    .modal-conteudo {
        background-color:rgb(196, 221, 250);
        color: black;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        width: 900px;
        height: 650px;
        border-radius: 20px;
    }
    .modal-aberto {
        display: block;
        z-index: 100000;
        color: #041024;
    }
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.575); 
        z-index: 99999; 
    }
    .overlay-aberto {
        display: block;
    }
    .modal-aberto, .overlay-aberto {
        overflow: hidden;
    }
    .fechar {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .fechar:hover,
    .fechar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .modalImgContainer{
        width: 800px;
        height: 350px;
        margin-top: 30px;
        border-radius: 35px; /* Bordas arredondadas no container */
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
    }
    .modalImgContainer img{
        width: 100%; /* A imagem ocupa a largura total do container */
        height: 350px; /* A imagem ocupa a altura total do container */
        object-fit: cover; /* Preenche o container sem distorção */
        object-position: center; /* Imagem centralizada */

    }
    .modal h2{
        padding-top: 20px;
        padding-left: 15px;
        text-align: left;
        color: #041024;
        font-size: 35px;
    }
    .modal p{
        padding-top: 8px;
        padding-left: 15px;
        font-size: 18px;
        color:#041024;
    }
    .modal::-webkit-scrollbar {
        width: 12px;
    }
    .modal::-webkit-scrollbar-track {
        background:rgb(158, 200, 248) ;
        border-radius: 6px;
    }
    .modal::-webkit-scrollbar-thumb {
        background: #babcbe;
    }

    @media screen and (max-width: 900px) {
        .modal-conteudo {
            width: 90%;
        }
        
        .modal img{
            width: 300px;
            height: 350px;
            margin-right: 0; 
            margin-bottom: 40px;
        }
        .modal h2{
            margin-top: 40px;
        }
    }
    /*==FIM modal==*

    /*== inicio Footer==*/ 
    footer{
        background-color: #041024;
        font-size: 15px;
        height: 250px;
        bottom: 0;
        z-index: 998;
        position: relative;
        padding-left: 100px;
    } 
    .info1 img{
       width: 25px;

    }
    footer .info1{
        display: flex;
        color: white;
        margin-left: 35px;
    }
    footer .info1 ul{
        width:25%;
        margin-top: 20px;
    }
    footer div{
      margin-top: 20px;
    }
   
    footer  h3{
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    a{
        text-decoration: none;
    }
    
    footer .redes-sociais img{
        margin-left: 10px;
    }
    footer ul{
        margin-bottom: 8px;
        margin-left: 10px;
    }
    footer .info1 ul > p{
      margin-bottom: 40px;
      margin-left: 10px;
      margin-top: 20px;
      
    }
    footer .info1 li{
        margin: 10px 0;
        margin-top: 20px;
    }
    footer .info1 a{
        color: white;
    }
    footer .info1 ul{
      width: 100%;
      margin-bottom: 30px;
    }
    footer li{
        list-style-type: none;
    }
    /*== FINAL FOOTER==*/
    
    
    /*== pfp pic ==*/
    .pfpContainer {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid #eee;
    }
    .pfpContainer img{
        height: 50px;
        width: 100%;
        object-fit: cover; /* Mantém a proporção da imagem e cobre o container */
        object-position: center; /* Posiciona a imagem no centro do container */
    }


    /*== FIM pfp pic ==*/
    /*== data e hora ==*/
    .datahora {
        margin-top: 5px;
        display: flex;
    }
    .datahora .wrap {
        flex-wrap: wrap;
    }
    .datahora .autor {
        font-size: 14px;
    }
    .datahora .dh {
        font-size: 13px;
        padding-top: 0;
    }
    .datahora p {
        color: #393d40;
    }
    .modal-aberto:hover .datahora p {
        color: #393d40;
    }
    .dhImgContainer {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid #041024;
    }
    .datahora img{
        height: 50px;
        width: 100%;
        object-fit: cover; /* Mantém a proporção da imagem e cobre o container */
        object-position: center; /* Posiciona a imagem no centro do container */
    }
    /*== FIM data e hora ==*/
    

    .GeminiButton {
        color: white;
        background-color: #072c6b;
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px;
        transition: 0.5s ease;
    }
    .GeminiButton:disabled {
        background-color: #07204c; /* Cor de fundo mais escura */
        color: #999;; /* Cor da fonte mais escura */
      }