@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap';

* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: rgb(196, 221, 250);
    font-family: 'Source Sans Pro', sans-serif;
}

.main{
    padding-top: 105px;
}
.Title-box {
    display: flex;
    justify-content: center;
}
.Title-box h1 {
    background-color: #112a56;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: whitesmoke;
    margin-top: 10px;
}

    /*=== HEADER ===*/
.header {
    width: 100%;
    color: white;
    padding-bottom: 8px;
    background: #041024;
    text-align: center;
    z-index: 998;

}
#HOME {
    font-family: 'Orbitron';
    font-size: 60px;
}
.home img { 
    border-radius: 5px;
    height: 46px;
}
#imgPadding {
    padding-left: 8px;
    padding-top: 16px;
}
.home {
    display: flex;
    justify-content: center;
    margin-left:50%;
    margin-right: 50%;
    cursor: pointer;
}
header .icons {
    border-radius: 300px;
    background-color: white;
    height: 46px;
}
.iconsPadding {
    padding: 14px;
    padding-top: 25px;
}
header .HeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


 /*== inicio Footer==*/ 
 footer{
    margin-top: 60px;
    background-color: #041024;
    font-size: 15px;
    height: 250px;
    bottom: 0;
    z-index: 9999;
    position: relative;
} 
.info1 img{
   width: 25px;

}
footer .info1{
    display: flex;
    color: white;
    margin-left: 35px;
}
footer .info1 ul{
    width:25%;
    margin-top: 20px;
}
footer div{
  margin-top: 20px;
}

footer  h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}
a{
    text-decoration: none;
}

footer .redes-sociais img{
    margin-left: 10px;
}
footer ul{
    margin-bottom: 8px;
    margin-left: 10px;
}
footer .info1 ul > p{
  margin-bottom: 40px;
  margin-left: 10px;
  margin-top: 20px;
  
}
footer .info1 li{
    margin: 10px 0;
    margin-top: 20px;
}
footer .info1 a{
    color: white;
}
footer .info1 ul{
  width: 100%;
  margin-bottom: 30px;
}
footer li{
    list-style-type: none;
}
/*== FINAL FOOTER ==*/
/*== BOTÃO IMAGEM ==*/
#picture__input {
    display: none;
  }
  
  .picture {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    box-shadow: 5px 5px 20px black;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  .picture img {
    height: 250px;
    max-height: 100%;
}
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 5px 5px 20px black;
  }
  
  /*== FIM BOTÃO IMAGEM ==*/
  /*== fake modal ==*/
  .fakeModal1{
    text-align: center;
    width: 700px;
    height: 250px;
    margin-top: 2px;
    padding-top: 2px;

}
.btnImg{
    width: 250px;
    height: 250px;
    margin-left: 325px;
    margin-top: 5px;
    margin-bottom: 0;
    border-radius: 250px;
    box-shadow:5px 5px 20px black ;

}
.fakeModal {
    left: 50%;
    top: 50%;
    width: 900px;
    height: 720px;
    overflow-y: auto;   
}
 .fakeModal p{
    color: black;
 }
.fakeModal-conteudo {
    margin-top: 185px;
    background-color:rgb(255, 255, 255);
    color: black;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 900px;
    height: 700px;
    border-radius: 20px;
}
/*== FIM fake modal ==*/
/*==botao texto==*/
.input-texto{
    width: 800px;
    height: 100px;
    margin-top: 35px;
    background-color: rgb(255, 255, 255);
    margin-left: 18px;
}
textarea.title{
    resize: none;
    padding-left: 10px;
    padding-top: 8px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 750px;
    height:50px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    background: #ddd;
    overflow-wrap: break-word;
    font-size: 25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input.title:hover {
    background: #ccc;
  }
  textarea.subtitle{
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 800px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    background: #ddd;
    text-align: start;
    resize: none;
    font-size: 18px;
    color: black;


}
input.subtitle:hover {
    background: #ccc;
  }
textarea.text{
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 800px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    background: #ddd;
    text-align: start;
    resize: none;
    font-size: 18px;
    color: black;


}
input.text:hover {
    background: #ccc;
  }
  button{
    margin-bottom: 10px;
    margin-left: 350px;
    margin-top: 18px;
    font-size:25px;
    font-family:Arial;
    width:140px;
    height:45px;
    border-width:1px;
    color:#041024;
    border-color:#6a80c2;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    text-shadow: 0px 1px 0px #3b5397;
    background:linear-gradient(rgb(120, 146, 194), #718dec);
    transition: background 0.3s ease;
    cursor: pointer;
  }
  
  button:hover {
    background: linear-gradient(#476e9e, rgb(120, 146, 194));
  }


  